.activity_manage_container{
    padding: 3.7vh 2.08vw 10.18vh 2.08vw;
    background: #fff;
    width: 85.8vw;
    height: 100%;
    float: right;
    &.outer_charts_container{
        background: #fff!important;
        .activity_manage_page{
            position: relative;
            .operate_btns{
                position: absolute;
                width: 100%;
                height: 40px;
                text-align: right;
                top: 40px;
                right: 0;
                z-index: 10;
                .layui-btn{
                    height: 40px;
                    background: #fbaa33;
                    font-size: 16px;
                    width: 90px;
                    border-radius: 6px;
                }
            }
        }
        .charts_container{
            width: 100%;
            height: calc(100% - 60px);
            margin-top: 40px;
            .view_charts{
                width: 100%;
                height: 100%;
            }
            .tooltip_container{
                padding: 8px 50px 8px 15px;
                p{
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
    }
    .activity_manage_page{
        height: 100%;
        width: 100%;
        .operate_form_group{
            .search_btn{
                float: left;
                margin-left:10px;
            }
            .publish_acti_btn{
                float: right;
            }
        }
        .table_outer_box{
            height: calc(100% - 72px - 6.29vh);
            position: relative;
            .fixed_thead{
                width: 100%;
                height: 48px;
                li{
                    float: left;
                    font-size: 16px;
                    font-weight: 600;
                    color: #333;
                    height: 48px;
                    background-color: #e5e5e5;
                    // width: 33.33%;
                    line-height: 48px;
                    padding: 0 15px;
                    box-sizing: border-box;
                }
            }
            .table_scroll_box{
                height: 100%;
                overflow: auto;
            }
        }
        .custom_table{
            &  + .layui-table-view{
                // height: calc(100% - 32px - 1.85vh) !important;
                height: calc(100% - 32px - 20px) !important;
                margin: 0;
                border: 0;
                position: relative;
                .layui-table-box{
                    height: calc(100% - 40px - 4.44vh);
                    .layui-table-body{
                        height: calc(100% - 40px)!important;
                    }
                }
                .layui-table-page{
                    height: 40px;
                    // padding: 4.44vh 0 0 0;
                    padding: 0;
                    border: 0;
                    position: absolute;
                    bottom: 0;
                    font-size: 16px;
                    color: #4D4D4D;
                    >div{
                        text-align: center;
                    }
                    button{
                        padding: 0 14px;
                        background: #f5f5f5;
                        border: 1px solid #ddd;
                        height: 38px;
                        box-sizing: border-box;
                        line-height: 1;
                        color: #4d4d4d;
                    }
                    a,span{
                        height: 38px;
                        line-height: 38px;
                        margin-bottom: 0;
                        font-size: 16px;
                        color: #4D4D4D;
                    }
                    a{
                        background: #f5f5f5;
                        border: 1px solid #ddd;
                        margin: 0 5px;
                    }
                    .layui-disabled{
                        background: #fff;
                    }
                    .layui-laypage-prev{
                        margin-left: 0!important;
                    }
                    .layui-laypage-next{
                        margin-right: 20px;
                    }
                    .layui-laypage-prev,.layui-laypage-next{
                        padding: 0 20px;
                        border: 1px solid #ddd;
                    }
                    .layui-laypage-limits{
                        display: none;
                    }
                    .layui-laypage-skip{
                        margin-bottom: 0;
                        color: #4d4d4d;
                        .layui-input{
                            height: 38px;
                            &:focus{
                                border-color:#5161FF!important;
                            }
                        }
                    }
                    .layui-laypage-curr{
                        margin-bottom: 0;
                        .layui-laypage-em{
                            background-color: transparent;
                        }
                        em{
                            color: #5161FF;
                            font-size: 14px;
                        }
                    }
                }
            }
            &.layui-table{
                height: 100%;
                margin: 0;
                border: 0;
                thead{
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1536px){
    .activity_manage_container{
        .activity_manage_page{
            .custom_table + .layui-table-view{
                .layui-table-page{
                    a,span{
                        height: 26px;
                        line-height: 26px;
                    }
                    button{
                        padding: 0 14px;
                        height: 28px;
                    }
                    .layui-laypage-prev,.layui-laypage-next{
                        padding: 0 10px;
                    }
                    .layui-laypage-skip{
                        .layui-input{
                            height: 26px;
                        }
                    }
                }
            }
        }
    }
}