.activity_manage_container {
  padding: 3.7vh 2.08vw 10.18vh 2.08vw;
  background: #fff;
  width: 85.8vw;
  height: 100%;
  float: right;
}

.activity_manage_container .activity_manage_page {
  height: 100%;
  width: 100%;
}

.activity_manage_container .activity_manage_page .breadcrumb_group {
  color: #999;
}

.activity_manage_container .activity_manage_page .breadcrumb_group .layui-breadcrumb {
  margin-left: 5px;
}

.activity_manage_container .activity_manage_page .breadcrumb_group .layui-breadcrumb a:hover {
  color: #999 !important;
}

.activity_manage_container .activity_manage_page .operate_form_group {
  height: 32px;
  margin: 3.7vh 0 1.85vh 0;
}

.activity_manage_container .activity_manage_page .operate_form_group .custom_input {
  border-color: #ccc !important;
  width: 280px;
  height: 32px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.activity_manage_container .activity_manage_page .operate_form_group .custom_input::-webkit-input-placeholder {
  color: #ccc;
}

.activity_manage_container .activity_manage_page .operate_form_group .custom_input::-moz-placeholder {
  color: #ccc;
}

.activity_manage_container .activity_manage_page .operate_form_group .custom_input:-ms-input-placeholder {
  color: #ccc;
}

.activity_manage_container .activity_manage_page .operate_form_group .custom_btn {
  padding: 0 22px;
  height: 32px;
  background-color: #5161FF;
  font-size: 14px;
  color: #fff;
  line-height: 1;
}

.activity_manage_container .activity_manage_page .operate_form_group .search_btn {
  float: left;
  margin-left: 10px;
}

.activity_manage_container .activity_manage_page .operate_form_group .publish_acti_btn {
  float: right;
}

.activity_manage_container .activity_manage_page .custom_table + .layui-table-view {
  height: calc(100% - 46px - 5.55vh) !important;
  margin: 0;
  border: 0;
  position: relative;
}

.activity_manage_container .activity_manage_page .custom_table + .layui-table-view th, .activity_manage_container .activity_manage_page .custom_table + .layui-table-view td {
  border-right: 0;
  border-color: #E6E6E6;
}

.activity_manage_container .activity_manage_page .custom_table + .layui-table-view thead th {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  height: 48px;
  background: #F6F8FC;
}

.activity_manage_container .activity_manage_page .custom_table + .layui-table-view tbody td {
  color: #666;
  height: 48px;
}

.activity_manage_container .activity_manage_page .custom_table + .layui-table-view .layui-table-box {
  height: calc(100% - 40px - 4.44vh);
}

.activity_manage_container .activity_manage_page .custom_table + .layui-table-view .layui-table-box .layui-table-body {
  height: calc(100% - 40px) !important;
}

.activity_manage_container .activity_manage_page .custom_table + .layui-table-view .layui-table-page {
  height: 40px;
  padding: 0;
  border: 0;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  color: #4D4D4D;
}

.activity_manage_container .activity_manage_page .custom_table + .layui-table-view .layui-table-page a {
  color: #4D4D4D;
  font-size: 14px;
}

.activity_manage_container .activity_manage_page .custom_table + .layui-table-view .layui-table-page span {
  font-size: 14px;
}

.activity_manage_container .activity_manage_page .custom_table + .layui-table-view .layui-table-page .layui-laypage-prev {
  margin-left: 0 !important;
}

.activity_manage_container .activity_manage_page .custom_table + .layui-table-view .layui-table-page .layui-laypage-next {
  margin-right: 20px;
}

.activity_manage_container .activity_manage_page .custom_table + .layui-table-view .layui-table-page .layui-laypage-prev, .activity_manage_container .activity_manage_page .custom_table + .layui-table-view .layui-table-page .layui-laypage-next {
  border: 1px solid #ddd;
}

.activity_manage_container .activity_manage_page .custom_table + .layui-table-view .layui-table-page .layui-laypage-limits {
  display: none;
}

.activity_manage_container .activity_manage_page .custom_table + .layui-table-view .layui-table-page .layui-laypage-curr .layui-laypage-em {
  background-color: transparent;
}

.activity_manage_container .activity_manage_page .custom_table + .layui-table-view .layui-table-page .layui-laypage-curr em {
  color: #5161FF;
  font-size: 14px;
}
