.activity_manage_container{
    padding: 3.7vh 2.08vw 10.18vh 2.08vw;
    background: #fff;
    width: 85.8vw;
    height: 100%;
    float: right;
    .activity_manage_page{
        height: 100%;
        width: 100%;
        .operate_form_group{
            // height: 32px;
            // margin: 0 0 1.85vh 0;
            // .custom_input{
            //     border-color: #ccc !important;
            //     width: 280px;
            //     height: 32px;
            //     line-height: 1;
            //     display: inline-block;
            //     vertical-align: middle;
            //     float: left;
            //     &::-webkit-input-placeholder{
            //         color: #ccc;
            //     }
            //     &::-moz-placeholder{
            //             color: #ccc;        
            //     }
            //     &:-ms-input-placeholder{
            //             color: #ccc;        
            //     }
            // }
            // .custom_btn{
            //     padding: 0 22px;
            //     height: 40px;
            //     background-color: #FFAB33;
            //     font-size: 14px;
            //     color: #fff;
            //     line-height: 1;
            // }
            .search_btn{
                float: left;
                margin-left:10px;
            }
            .publish_acti_btn{
                float: right;
            }
        }
        .custom_table + .layui-table-view{
            height: calc(100% - 32px - 1.85vh) !important;
            margin: 0;
            border: 0;
            position: relative;
            // th,td{
            //     border-right: 0;
            //     border-color: #E6E6E6;
            //     font-size: 16px;
            //     .operate_btns{
            //         >span{
            //             margin-right: 40px;
            //             float: left;
            //             cursor: pointer;
            //             &:last-child{
            //                 margin-right: 0;
            //             }
            //         }
            //         .blue_text{
            //             color: #2E87FF;
            //         }
            //         .red_text{
            //             color: #FE4D4D;
            //         }
            //     }
                
            // }
            // thead{
            //     th{
            //         font-size: 16px;
            //         font-weight: 600;
            //         color: #333;
            //         height: 48px;
            //         background: #F6F8FC;
            //     }
            // }
            // tbody{
            //     td{
            //         color: #666;
            //         height: 48px;
            //     }
            // }
            .layui-table-box{
                height: calc(100% - 40px - 4.44vh);
                .layui-table-body{
                    height: calc(100% - 40px)!important;
                    // tr{
                    //     &:hover{
                    //         background: transparent;
                    //     }
                    // }
                }
            }
            .layui-table-page{
                height: 40px;
                // padding: 4.44vh 0 0 0;
                padding: 0;
                border: 0;
                position: absolute;
                bottom: 0;
                font-size: 16px;
                color: #4D4D4D;
                >div{
                    text-align: center;
                }
                button{
                    padding: 14px;
                    background: #f5f5f5;
                    border: 1px solid #ddd;
                    height: 38px;
                    box-sizing: border-box;
                    line-height: 1;
                    color: #4d4d4d;
                }
                a,span{
                    height: 38px;
                    line-height: 38px;
                    margin-bottom: 0;
                    font-size: 16px;
                    color: #4D4D4D;
                }
                a{
                    background: #f5f5f5;
                    border: 1px solid #ddd;
                    margin: 0 5px;
                }
                .layui-disabled{
                    background: #fff;
                }
                .layui-laypage-prev{
                    margin-left: 0!important;
                }
                .layui-laypage-next{
                    margin-right: 20px;
                }
                .layui-laypage-prev,.layui-laypage-next{
                    padding: 0 20px;
                    border: 1px solid #ddd;
                }
                .layui-laypage-limits{
                    display: none;
                }
                .layui-laypage-skip{
                    margin-bottom: 0;
                    color: #4d4d4d;
                    .layui-input{
                        height: 38px;
                        &:focus{
                            border-color:#5161FF!important;
                        }
                    }
                }
                .layui-laypage-curr{
                    margin-bottom: 0;
                    .layui-laypage-em{
                        background-color: transparent;
                    }
                    em{
                        color: #5161FF;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .charts_container{
        width: 100%;
        height: calc(100% - 60px);
        margin-top: 40px;
        .view_charts{
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 1536px){
    .activity_manage_container{
        .activity_manage_page{
            .custom_table + .layui-table-view{
                .layui-table-page{
                    a,span{
                        height: 26px;
                        line-height: 26px;
                    }
                    button{
                        padding: 0 14px;
                        height: 28px;
                    }
                    .layui-laypage-prev,.layui-laypage-next{
                        padding: 0 10px;
                    }
                    .layui-laypage-skip{
                        .layui-input{
                            height: 26px;
                        }
                    }
                }
            }
        }
    }
}