@charset "UTF-8";
@font-face {
  font-family: PingFangSC-Medium;
  src: url("../font/PingFang Medium_downcc.otf");
}

@font-face {
  font-family: PingFangSC-Semibold;
  src: url("../font/PingFang-SC-Semibold.otf");
}

@font-face {
  font-family: PingFangSC-Regular;
  src: url("../font/PingFang Regular.otf");
}

@font-face {
  font-family: Futura-Medium;
  src: url("../font/futura_medium.ttf");
}

html, body, p, ul, li {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  height: 100%;
  font-family: Microsoft YaHei;
  overflow: hidden;
}

li {
  list-style: none;
}

div, p {
  box-sizing: border-box;
}

input {
  outline: none;
  text-indent: 1em;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

.full_screen {
  width: 100%;
  max-width: 1920px;
}

/*充值layui  样式*/
body .layui-laydate .layui-this {
  background-color: #FFAB33 !important;
}

.table_form_content {
  /*公共列表样式*/
  /*搜索表单*/
}

.table_form_content .bg_white_container {
  background: #fff;
  position: relative;
  margin-top: 20px;
  padding: 20px 20px 86px 20px;
  height: calc(100% - 20px - 20px);
}

.table_form_content .custom_table + .layui-table-view {
  margin: 0;
  border: 0;
  position: relative;
  clear: both;
}

.table_form_content .custom_table + .layui-table-view .layui-form-checkbox[lay-skin=primary]:hover i {
  border-color: #FFAB33;
}

.table_form_content .custom_table + .layui-table-view .layui-form-checked[lay-skin=primary] i {
  background-color: #FFAB33;
  border-color: #FFAB33;
}

.table_form_content .custom_table + .layui-table-view th, .table_form_content .custom_table + .layui-table-view td {
  border-right: 0;
  border-color: #E6E6E6;
  font-size: 16px;
}

.table_form_content .custom_table + .layui-table-view th .operate_btns > span, .table_form_content .custom_table + .layui-table-view td .operate_btns > span {
  margin-right: 10%;
  float: left;
  cursor: pointer;
}

.table_form_content .custom_table + .layui-table-view th .operate_btns > span:last-child, .table_form_content .custom_table + .layui-table-view td .operate_btns > span:last-child {
  margin-right: 0;
}

.table_form_content .custom_table + .layui-table-view th .operate_btns .blue_text, .table_form_content .custom_table + .layui-table-view td .operate_btns .blue_text {
  color: #2E87FF;
}

.table_form_content .custom_table + .layui-table-view th .operate_btns .red_text, .table_form_content .custom_table + .layui-table-view td .operate_btns .red_text {
  color: #FE4D4D;
}

.table_form_content .custom_table + .layui-table-view th .reject_color, .table_form_content .custom_table + .layui-table-view td .reject_color {
  color: #FF523A;
}

.table_form_content .custom_table + .layui-table-view th .allow_color, .table_form_content .custom_table + .layui-table-view td .allow_color {
  color: #11D43B;
}

.table_form_content .custom_table + .layui-table-view th .blue_title, .table_form_content .custom_table + .layui-table-view td .blue_title {
  color: #5161FF;
}

.table_form_content .custom_table + .layui-table-view thead th {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  height: 48px;
  background-color: #e5e5e5;
}

.table_form_content .custom_table + .layui-table-view tbody tr:nth-child(2n) {
  background: #EDF3FF;
}

.table_form_content .custom_table + .layui-table-view tbody td {
  color: #666;
  height: 48px;
}

.table_form_content .custom_table + .layui-table-view .layui-table-box {
  height: calc(100% - 40px - 4.44vh);
}

.table_form_content .custom_table + .layui-table-view .layui-table-box .layui-table-header {
  background: #e5e5e5;
}

.table_form_content .custom_table + .layui-table-view .layui-table-box .layui-table-body {
  height: calc(100% - 40px) !important;
}

.table_form_content .custom_table + .layui-table-view .layui-table-box .layui-table-body tr:nth-child(2n):hover {
  background: #EDF3FF;
}

.table_form_content .custom_table + .layui-table-view .layui-table-box .layui-table-body tr:hover {
  background: transparent;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page {
  height: 40px;
  padding: 0;
  border: 0;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  color: #4D4D4D;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page > div {
  text-align: center;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page button {
  padding: 0 14px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  height: 38px;
  box-sizing: border-box;
  line-height: 1;
  color: #4d4d4d;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page a, .table_form_content .custom_table + .layui-table-view .layui-table-page span {
  height: 38px;
  line-height: 38px;
  margin-bottom: 0;
  color: #4D4D4D;
  font-size: 16px;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page a {
  background: #f5f5f5;
  border: 1px solid #ddd;
  margin: 0 5px;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page .layui-disabled {
  background: #fff;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page .layui-laypage-prev {
  margin-left: 0 !important;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page .layui-laypage-next {
  margin-right: 20px;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page .layui-laypage-prev, .table_form_content .custom_table + .layui-table-view .layui-table-page .layui-laypage-next {
  padding: 0 20px;
  border: 1px solid #ddd;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page .layui-laypage-limits {
  display: none;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page .layui-laypage-skip {
  margin-bottom: 0;
  color: #4d4d4d;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page .layui-laypage-skip .layui-input {
  height: 38px;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page .layui-laypage-skip .layui-input:focus {
  border-color: #5161FF !important;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page .layui-laypage-curr {
  margin-bottom: 0;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page .layui-laypage-curr .layui-laypage-em {
  background-color: transparent;
}

.table_form_content .custom_table + .layui-table-view .layui-table-page .layui-laypage-curr em {
  color: #5161FF;
  font-size: 16px;
}

.table_form_content .custom_table.layui-table .layui-form-checkbox[lay-skin=primary]:hover i {
  border-color: #FFAB33;
}

.table_form_content .custom_table.layui-table .layui-form-checked[lay-skin=primary] i {
  background-color: #FFAB33;
  border-color: #FFAB33;
}

.table_form_content .custom_table.layui-table th, .table_form_content .custom_table.layui-table td {
  border-right: 0;
  border-color: #E6E6E6;
  font-size: 16px;
  box-sizing: border-box;
  border-left: none;
}

.table_form_content .custom_table.layui-table th .operate_btns > span, .table_form_content .custom_table.layui-table td .operate_btns > span {
  margin-right: 10%;
  float: left;
  cursor: pointer;
}

.table_form_content .custom_table.layui-table th .operate_btns > span:last-child, .table_form_content .custom_table.layui-table td .operate_btns > span:last-child {
  margin-right: 0;
}

.table_form_content .custom_table.layui-table th .operate_btns .blue_text, .table_form_content .custom_table.layui-table td .operate_btns .blue_text {
  color: #2E87FF;
}

.table_form_content .custom_table.layui-table th .operate_btns .red_text, .table_form_content .custom_table.layui-table td .operate_btns .red_text {
  color: #FE4D4D;
}

.table_form_content .custom_table.layui-table th .reject_color, .table_form_content .custom_table.layui-table td .reject_color {
  color: #FF523A;
}

.table_form_content .custom_table.layui-table th .allow_color, .table_form_content .custom_table.layui-table td .allow_color {
  color: #11D43B;
}

.table_form_content .custom_table.layui-table th .blue_title, .table_form_content .custom_table.layui-table td .blue_title {
  color: #5161FF;
}

.table_form_content .custom_table.layui-table thead th {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  height: 48px;
  background-color: #e5e5e5;
}

.table_form_content .custom_table.layui-table tbody tr:hover {
  background: transparent;
}

.table_form_content .custom_table.layui-table tbody tr:nth-child(2n) {
  background: #EDF3FF;
}

.table_form_content .custom_table.layui-table tbody tr:nth-child(2n):hover {
  background: #EDF3FF;
}

.table_form_content .custom_table.layui-table tbody td {
  color: #666;
  height: 48px;
}

.table_form_content .operate_form_group {
  height: 40px;
  margin: 0 0 20px 0;
}

.table_form_content .operate_form_group .custom_input {
  border-color: #ccc !important;
  width: 280px;
  height: 40px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  float: left;
  font-size: 16px;
}

.table_form_content .operate_form_group .custom_input::-webkit-input-placeholder {
  color: #ccc;
}

.table_form_content .operate_form_group .custom_input::-moz-placeholder {
  color: #ccc;
}

.table_form_content .operate_form_group .custom_input:-ms-input-placeholder {
  color: #ccc;
}

.table_form_content .operate_form_group .search_btn {
  float: left;
  margin-left: 10px;
}

.table_form_content .operate_form_group .custom_btn {
  padding: 0 22px;
  height: 40px;
  background-color: #FFAB33;
  font-size: 16px;
  color: #fff;
  line-height: 1;
}

.table_form_content .operate_form_group .publish_acti_btn {
  float: right;
}

.table_form_content .layui-form-select dl {
  padding: 0;
}

.table_form_content .layui-form-select dl dd.layui-this {
  background-color: #F6F8FC;
  color: #333;
}

.table_form_content .custom_form .layui-form-label {
  padding: 0;
  line-height: 40px;
  font-size: 16px;
}

.table_form_content .custom_form .layui-input {
  height: 40px;
}

.table_form_content .custom_form .layui-input, .table_form_content .custom_form .layui-textarea {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.table_form_content .custom_form .layui-textarea {
  height: 140px;
  resize: none;
  padding: 15px 10px !important;
}

.table_form_content .custom_form .layui-btn {
  padding: 0 22px;
  height: 40px;
  font-size: 16px;
  line-height: 1;
  border-radius: 4px;
}

.table_form_content .custom_form .layui-btn:hover {
  background-color: #FFAB33;
  color: #fff;
  border-color: #ffab33;
}

.party_tree_container .layui-tree-iconArrow {
  width: 20px;
  height: 20px;
  content: url("../images/tree-arrow.png");
  transform: rotate(-90deg);
  padding: 0;
}

.party_tree_container .layui-tree-spread > .layui-tree-entry .layui-tree-iconArrow {
  transform: none;
}

.party_tree_container .layui-tree-entry {
  height: 40px;
  padding: 0;
}

.party_tree_container .layui-tree-entry:hover {
  background-color: transparent;
}

.custom_btn {
  padding: 0 22px;
  height: 32px;
  background-color: #ffab33;
  font-size: 16px;
  color: #fff;
  line-height: 1;
  border-radius: 4px !important;
}

.custom_btn.default_btn {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #666;
}

.custom_btn.default_btn:hover {
  background-color: #ffab33;
  border-color: #FFAB33;
  color: #fff;
}

.datepicker_item {
  position: relative;
}

.datepicker_item .layui-input-inline {
  position: relative;
}

.datepicker_item .layui-input-inline:before {
  width: 24px;
  height: 24px;
  content: url("../images/date-icon.png");
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
}

.layui-input, .layui-textarea {
  padding: 0 !important;
}

/*设置滚动条样式*/
div::-webkit-scrollbar-track-piece, textarea::-webkit-scrollbar-track-piece {
  background-color: #e5e5e5;
}

div::-webkit-scrollbar, textarea::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

div::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
  background-color: #ddd;
  background-clip: padding-box;
  min-height: 28px;
}

div::-webkit-scrollbar-thumb:hover, textarea::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

@media screen and (max-width: 1536px) {
  .table_form_content {
    /*公共列表样式*/
  }
  .table_form_content .custom_table + .layui-table-view th, .table_form_content .custom_table + .layui-table-view td {
    font-size: 16px;
  }
  .table_form_content .custom_table + .layui-table-view .layui-table-page a, .table_form_content .custom_table + .layui-table-view .layui-table-page span {
    height: 26px;
    line-height: 26px;
  }
  .table_form_content .custom_table + .layui-table-view .layui-table-page button {
    padding: 0 14px;
    height: 28px;
  }
  .table_form_content .custom_table + .layui-table-view .layui-table-page .layui-laypage-prev, .table_form_content .custom_table + .layui-table-view .layui-table-page .layui-laypage-next {
    padding: 0 10px;
  }
  .table_form_content .custom_table + .layui-table-view .layui-table-page .layui-laypage-skip .layui-input {
    height: 26px;
  }
}
