.layout_page{
    .top_nav{
        height: 7.4vh;
        padding: 0 40px;
        background: #fff;
        position: relative;
        border-bottom: 1px solid #E5E5E5;
        .left_logo{
            position: absolute;
            top: 50%;
            left: 40px;
            margin-top: -20px;
        }
        .user_info_group{
            float: right;
            font-size: 18px;
            color: #333;
            >p{
                display: inline-block;
                margin-left: 2vw;
                line-height: 7.4vh;
                img{
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    vertical-align: sub;
                    margin-right: 4px;
                }
                span{
                    font-size: 18px;
                    cursor: pointer;
                }
            }
            .avatar_info{
                img{
                    width: 2.5vw;
                    height: 2.5vw;
                    vertical-align: middle;
                }
            }
            .user_nav_container{
                &.layui-nav{
                    display: inline;
                    padding: 0 0 0 10px;
                    .layui-nav-item{
                        line-height: 1;
                        vertical-align: sub;
                        a{
                            color: #FFAB33;
                            padding: 0;
                            font-size: 16px;
                        }
                    }
                    .layui-nav-child{
                        padding: 0;
                        top: calc(3.7vh + 6px);
                        dd{
                            color: #333;
                            font-size: 16px;
                            cursor: pointer;
                            padding: 0 10px;
                            height: 48px;
                            line-height: 48px;
                            a{
                                color: #333;
                                background: transparent;
                            }
                            &.layui-this{
                                background-color: transparent;
                                a{
                                    background-color: transparent;
                                    color: #FFAB33;
                                }
                            }
                            &:hover{
                                // background: #F6F8FD;
                                a{
                                    color: #FFAB33;
                                }
                            }
                        }
                    }
                    .layui-nav-bar,.layui-nav-more{
                        display: none;
                    }
                }
            }
        }
    }
    .content_container{
        width: 100%;
        height: 92.6vh;
        overflow: hidden;
        position: relative;
        .menu_tree{
            height: 100%;
            width: 14.2vw;
            background: #F6F8FC;
            overflow: auto;
            float: left;
            padding: 40px 0;
            overflow: auto;
            > .layui-nav-item{
                .layui-nav-child{
                    .menu_icon{
                        margin-right: 6px;
                        vertical-align: sub;
                        background-size: cover;
                    }
                }
                &:nth-child(1){
                    .layui-nav-child{
                        .menu_icon{
                            background-image: url('../images/tree-icon1.png');
                        }
                        a:hover{
                            .menu_icon{
                                background-image: url('../images/tree-icon1-on.png');
                            }
                        }
                    }
                }
                &:nth-child(2){
                    .layui-nav-child{
                        .menu_icon{
                            background-image: url('../images/tree-icon2.png');
                        }
                        a:hover{
                            .menu_icon{
                                background-image: url('../images/tree-icon2-on.png');
                            }
                        }
                    }
                }
                &:nth-child(3){
                    .layui-nav-child{
                        .menu_icon{
                            background-image: url('../images/tree-icon3.png');
                        }
                        a:hover{
                            .menu_icon{
                                background-image: url('../images/tree-icon3-on.png');
                            }
                        }
                    }
                }
                &:nth-child(4){
                    .layui-nav-child{
                        .menu_icon{
                            background-image: url('../images/tree-icon4.png');
                        }
                        a:hover{
                            .menu_icon{
                                background-image: url('../images/tree-icon4-on.png');
                            }
                        }
                    }
                }
                &:nth-child(5){
                    .layui-nav-child{
                        .menu_icon{
                            background-image: url('../images/tree-icon5.png');
                        }
                        a:hover{
                            .menu_icon{
                                background-image: url('../images/tree-icon5-on.png');
                            }
                        }
                    }
                }
                &:nth-child(6){
                    .layui-nav-child{
                        .menu_icon{
                            background-image: url('../images/tree-icon6.png');
                        }
                        a:hover{
                            .menu_icon{
                                background-image: url('../images/tree-icon6-on.png');
                            }
                        }
                    }
                }
            }
            .layui-nav-bar{
                display: none;
            }
            .layui-nav-more{
                border: none;
                width: 20px;
                height: 20px;
                margin-top: -10px;
                right: 40px;
                background-image: url('../images/arrow-right.png');
                background-size: cover;
            }
            .menu_icon{
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 20px;
            }
            .layui-nav-itemed{
                .layui-nav-more{
                    background-image: url('../images/arrow-down.png');
                }
            }
            .layui-this{
                border-radius: 0 10px 10px 0;
                a{
                    // background-color: #744DFE;
                    color: #FF523A !important;
                    border-radius: 0 10px 10px 0;
                }
            }
            li{
                &.layui-nav-item.layui-nav-itemed{
                    > a{
                        color: #333!important;
                    }
                }
                a{
                    font-size: 18px;
                    color: #333;
                    padding: 0 40px;
                    height: 56px!important;
                    line-height: 56px!important;
                    &:hover{
                        background-color: transparent;
                    }
                }
            }
            .layui-nav-child{
                background: #F6F8FC!important;
                li{
                    &.layui-this{
                        background-color: transparent;
                        a{
                            background-color: transparent;
                        }
                    }
                    a{
                        color: #666;
                        padding-left: 100px;
                        img{
                            margin-right: 6px;
                        }
                        &:hover{
                            // background-color: #744DFE;
                            color: #FF523A !important;
                            border-radius: 0 10px 10px 0;
                        }
                    }
                }
            }
        }
        .main_content{
            padding: 5.5vh 3.125vw 3.7vh 3.125vw;
            background: #fff;
            width: 85.8vw;
            height: 100%;
            float: right;
            &.table_form_content{
                // padding: 3.7vh 2.08vw 1.85vh 1.04vw;
                padding: 40px 40px 20px 20px;
                position: absolute;
                right: 0;
                top: 0;
                float: unset;
                background: #f5f5f5;
            }
            .breadcrumb_group{
                color: #999;
                font-size: 16px;
                .layui-breadcrumb{
                    margin-left: 5px;
                    a{
                        font-size: 16px;
                        &:hover{
                            color: #999!important;
                        }
                    }
                    
                }
            }
        }
    }
}

@media screen and (max-width: 1536px) {
    .layout_page{
        .top_nav{
            .left_logo{
                height: 36px;
                margin-top: -18px;
            }
            .user_info_group{
                .user_nav_container{
                    .layui-nav-child{
                        li{
                            font-size: 16px;
                        }
                    }
                }
                >p{
                    img{
                        width: 16px;
                        height: 16px;
                        vertical-align: middle;
                    }
                    span{
                        font-size: 16px;
                    }
                }
            }
        }
        .content_container{
            .menu_tree{
                padding: 20px 0;
                .layui-nav-more{
                    right: 20px;
                }
                li{
                    a{
                        padding: 0 20px;
                        font-size: 16px;
                        height: 40px!important;
                        line-height: 40px!important;
                    }
                }
                .layui-nav-child{
                    li{
                        a{
                            padding-left: 80px;
                        }
                    }
                }
            }
        }
    }
}