.layout_page .top_nav {
  height: 7.4vh;
  padding: 0 40px;
  background: #fff;
  position: relative;
  border-bottom: 1px solid #E5E5E5;
}

.layout_page .top_nav .left_logo {
  position: absolute;
  top: 50%;
  left: 40px;
  margin-top: -20px;
}
