.layout_page .top_nav {
  height: 7.4vh;
  padding: 0 40px;
  background: #fff;
  position: relative;
  border-bottom: 1px solid #E5E5E5;
}

.layout_page .top_nav .left_logo {
  position: absolute;
  top: 50%;
  left: 40px;
  margin-top: -20px;
}

.layout_page .top_nav .user_info_group {
  float: right;
  font-size: 18px;
  color: #333;
}

.layout_page .top_nav .user_info_group > p {
  display: inline-block;
  margin-left: 2vw;
  line-height: 7.4vh;
}

.layout_page .top_nav .user_info_group > p img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  vertical-align: sub;
  margin-right: 4px;
}

.layout_page .top_nav .user_info_group > p span {
  font-size: 18px;
  cursor: pointer;
}

.layout_page .top_nav .user_info_group .avatar_info img {
  width: 2.5vw;
  height: 2.5vw;
  vertical-align: middle;
}

.layout_page .top_nav .user_info_group .user_nav_container.layui-nav {
  display: inline;
  padding: 0 0 0 10px;
}

.layout_page .top_nav .user_info_group .user_nav_container.layui-nav .layui-nav-item {
  line-height: 1;
  vertical-align: sub;
}

.layout_page .top_nav .user_info_group .user_nav_container.layui-nav .layui-nav-item a {
  color: #FFAB33;
  padding: 0;
  font-size: 16px;
}

.layout_page .top_nav .user_info_group .user_nav_container.layui-nav .layui-nav-child {
  padding: 0;
  top: calc(3.7vh + 6px);
}

.layout_page .top_nav .user_info_group .user_nav_container.layui-nav .layui-nav-child dd {
  color: #333;
  font-size: 16px;
  cursor: pointer;
  padding: 0 10px;
  height: 48px;
  line-height: 48px;
}

.layout_page .top_nav .user_info_group .user_nav_container.layui-nav .layui-nav-child dd a {
  color: #333;
  background: transparent;
}

.layout_page .top_nav .user_info_group .user_nav_container.layui-nav .layui-nav-child dd.layui-this {
  background-color: transparent;
}

.layout_page .top_nav .user_info_group .user_nav_container.layui-nav .layui-nav-child dd.layui-this a {
  background-color: transparent;
  color: #FFAB33;
}

.layout_page .top_nav .user_info_group .user_nav_container.layui-nav .layui-nav-child dd:hover a {
  color: #FFAB33;
}

.layout_page .top_nav .user_info_group .user_nav_container.layui-nav .layui-nav-bar, .layout_page .top_nav .user_info_group .user_nav_container.layui-nav .layui-nav-more {
  display: none;
}

.layout_page .content_container {
  width: 100%;
  height: 92.6vh;
  overflow: hidden;
  position: relative;
}

.layout_page .content_container .menu_tree {
  height: 100%;
  width: 14.2vw;
  background: #F6F8FC;
  overflow: auto;
  float: left;
  padding: 40px 0;
  overflow: auto;
}

.layout_page .content_container .menu_tree > .layui-nav-item .layui-nav-child .menu_icon {
  margin-right: 6px;
  vertical-align: sub;
  background-size: cover;
}

.layout_page .content_container .menu_tree > .layui-nav-item:nth-child(1) .layui-nav-child .menu_icon {
  background-image: url("../images/tree-icon1.png");
}

.layout_page .content_container .menu_tree > .layui-nav-item:nth-child(1) .layui-nav-child a:hover .menu_icon {
  background-image: url("../images/tree-icon1-on.png");
}

.layout_page .content_container .menu_tree > .layui-nav-item:nth-child(2) .layui-nav-child .menu_icon {
  background-image: url("../images/tree-icon2.png");
}

.layout_page .content_container .menu_tree > .layui-nav-item:nth-child(2) .layui-nav-child a:hover .menu_icon {
  background-image: url("../images/tree-icon2-on.png");
}

.layout_page .content_container .menu_tree > .layui-nav-item:nth-child(3) .layui-nav-child .menu_icon {
  background-image: url("../images/tree-icon3.png");
}

.layout_page .content_container .menu_tree > .layui-nav-item:nth-child(3) .layui-nav-child a:hover .menu_icon {
  background-image: url("../images/tree-icon3-on.png");
}

.layout_page .content_container .menu_tree > .layui-nav-item:nth-child(4) .layui-nav-child .menu_icon {
  background-image: url("../images/tree-icon4.png");
}

.layout_page .content_container .menu_tree > .layui-nav-item:nth-child(4) .layui-nav-child a:hover .menu_icon {
  background-image: url("../images/tree-icon4-on.png");
}

.layout_page .content_container .menu_tree > .layui-nav-item:nth-child(5) .layui-nav-child .menu_icon {
  background-image: url("../images/tree-icon5.png");
}

.layout_page .content_container .menu_tree > .layui-nav-item:nth-child(5) .layui-nav-child a:hover .menu_icon {
  background-image: url("../images/tree-icon5-on.png");
}

.layout_page .content_container .menu_tree > .layui-nav-item:nth-child(6) .layui-nav-child .menu_icon {
  background-image: url("../images/tree-icon6.png");
}

.layout_page .content_container .menu_tree > .layui-nav-item:nth-child(6) .layui-nav-child a:hover .menu_icon {
  background-image: url("../images/tree-icon6-on.png");
}

.layout_page .content_container .menu_tree .layui-nav-bar {
  display: none;
}

.layout_page .content_container .menu_tree .layui-nav-more {
  border: none;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  right: 40px;
  background-image: url("../images/arrow-right.png");
  background-size: cover;
}

.layout_page .content_container .menu_tree .menu_icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.layout_page .content_container .menu_tree .layui-nav-itemed .layui-nav-more {
  background-image: url("../images/arrow-down.png");
}

.layout_page .content_container .menu_tree .layui-this {
  border-radius: 0 10px 10px 0;
}

.layout_page .content_container .menu_tree .layui-this a {
  color: #FF523A !important;
  border-radius: 0 10px 10px 0;
}

.layout_page .content_container .menu_tree li.layui-nav-item.layui-nav-itemed > a {
  color: #333 !important;
}

.layout_page .content_container .menu_tree li a {
  font-size: 18px;
  color: #333;
  padding: 0 40px;
  height: 56px !important;
  line-height: 56px !important;
}

.layout_page .content_container .menu_tree li a:hover {
  background-color: transparent;
}

.layout_page .content_container .menu_tree .layui-nav-child {
  background: #F6F8FC !important;
}

.layout_page .content_container .menu_tree .layui-nav-child li.layui-this {
  background-color: transparent;
}

.layout_page .content_container .menu_tree .layui-nav-child li.layui-this a {
  background-color: transparent;
}

.layout_page .content_container .menu_tree .layui-nav-child li a {
  color: #666;
  padding-left: 100px;
}

.layout_page .content_container .menu_tree .layui-nav-child li a img {
  margin-right: 6px;
}

.layout_page .content_container .menu_tree .layui-nav-child li a:hover {
  color: #FF523A !important;
  border-radius: 0 10px 10px 0;
}

.layout_page .content_container .main_content {
  padding: 5.5vh 3.125vw 3.7vh 3.125vw;
  background: #fff;
  width: 85.8vw;
  height: 100%;
  float: right;
}

.layout_page .content_container .main_content.table_form_content {
  padding: 40px 40px 20px 20px;
  position: absolute;
  right: 0;
  top: 0;
  float: unset;
  background: #f5f5f5;
}

.layout_page .content_container .main_content .breadcrumb_group {
  color: #999;
  font-size: 16px;
}

.layout_page .content_container .main_content .breadcrumb_group .layui-breadcrumb {
  margin-left: 5px;
}

.layout_page .content_container .main_content .breadcrumb_group .layui-breadcrumb a {
  font-size: 16px;
}

.layout_page .content_container .main_content .breadcrumb_group .layui-breadcrumb a:hover {
  color: #999 !important;
}

@media screen and (max-width: 1536px) {
  .layout_page .top_nav .left_logo {
    height: 36px;
    margin-top: -18px;
  }
  .layout_page .top_nav .user_info_group .user_nav_container .layui-nav-child li {
    font-size: 16px;
  }
  .layout_page .top_nav .user_info_group > p img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
  .layout_page .top_nav .user_info_group > p span {
    font-size: 16px;
  }
  .layout_page .content_container .menu_tree {
    padding: 20px 0;
  }
  .layout_page .content_container .menu_tree .layui-nav-more {
    right: 20px;
  }
  .layout_page .content_container .menu_tree li a {
    padding: 0 20px;
    font-size: 16px;
    height: 40px !important;
    line-height: 40px !important;
  }
  .layout_page .content_container .menu_tree .layui-nav-child li a {
    padding-left: 80px;
  }
}
