.organ_retention_container {
  overflow-y: auto;
  padding-bottom: 0 !important;
}

.organ_retention_container .organ_retention_page {
  width: 100%;
  height: 100%;
}

.organ_retention_container .organ_retention_page .form_content {
  padding-top: 40px;
}

.organ_retention_container .organ_retention_page .form_content .form_title {
  width: 100%;
  height: 48px;
  background: #EAEEF5;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
}

.organ_retention_container .organ_retention_page .form_content .table_form {
  width: 100%;
}

.organ_retention_container .organ_retention_page .form_content .table_form .title_label {
  height: 651px;
  width: 48px;
  display: inline-block;
  float: left;
}

.organ_retention_container .organ_retention_page .form_content .table_form .title_label p {
  margin-top: 8px;
  background: #EAEEF5;
  font-size: 16px;
  line-height: 16px;
}

.organ_retention_container .organ_retention_page .form_content .table_form .title_label p:first-child {
  height: 228px;
  padding: 82px 16px;
}

.organ_retention_container .organ_retention_page .form_content .table_form .title_label p:last-child {
  height: 513px;
  padding: 224.5px 16px;
}

.organ_retention_container .organ_retention_page .form_content .table_form .custom_form {
  display: inline-block;
  width: calc(100% - 48px);
  padding-top: 8px;
}

.organ_retention_container .organ_retention_page .form_content .table_form .custom_form .layui-inline {
  width: 50%;
  float: left;
  border-bottom: 1px solid #CCC;
}

.organ_retention_container .organ_retention_page .form_content .table_form .custom_form .layui-inline label, .organ_retention_container .organ_retention_page .form_content .table_form .custom_form .layui-inline .layui-input-inline {
  width: 50%;
}

.organ_retention_container .organ_retention_page .form_content .table_form .custom_form .layui-inline .layui-form-label {
  line-height: 56px;
  background-color: #F6F8FC;
}

.organ_retention_container .organ_retention_page .form_content .table_form .custom_form .layui-inline .layui-input-inline {
  padding: 8px 9.5px;
}

.organ_retention_container .organ_retention_page .form_content .table_form .custom_form .datepicker_item .layui-input-inline::before {
  top: 11px;
  right: 20px;
}

.organ_retention_container .organ_retention_page .form_content .table_form .custom_form .mrt8 {
  margin-top: 8px;
}

.organ_retention_container .organ_retention_page .form_content .table_form .custom_form .table_text_container {
  width: 100%;
}

.organ_retention_container .organ_retention_page .form_content .table_form .custom_form .table_text_container .layui-form-label {
  width: 25%;
}

.organ_retention_container .organ_retention_page .form_content .table_form .custom_form .table_text_container .layui-input-inline {
  width: 75%;
}

.organ_retention_container .organ_retention_page .form_content .table_form .custom_form .btn_group {
  margin: 40px 0 0 -48px;
}

.organ_retention_container .organ_retention_page .form_content .table_form .custom_form .btn_group .layui-input-inline {
  padding: 0 0 12.68vh 0;
}

.organ_retention_container .organ_retention_page .form_content .table_form .custom_form .btn_group .layui-input-inline button:first-child {
  background: #FFAB33;
}

@media screen and (max-width: 1536px) {
  .organ_retention_container .organ_retention_page .form_content .form_title {
    height: 30px;
    line-height: 30px;
  }
}
