.party_manage_page {
  width: 100%;
  height: 100%;
}

.party_manage_page .party_manage_content {
  height: 100%;
  padding-top: 40px;
}

.party_manage_page .party_manage_content > div {
  display: inline-block;
  float: left;
}

.party_manage_page .party_manage_content .party_tree_container {
  width: 14.16vw;
  height: 100%;
  padding: 0 1.04vw 3.7vh 1.04vw;
  background: #EAEEF5;
  overflow: auto;
}

.party_manage_page .party_manage_content .party_tree_container .layui-tree > .layui-tree-set > .layui-tree-entry .layui-tree-txt {
  font-size: 16px;
}

.party_manage_page .party_manage_content .party_tree_container .layui-tree-set > .layui-tree-entry .layui-tree-txt {
  width: 100%;
  font-size: 14px;
  color: #333;
}

.party_manage_page .party_manage_content .party_tree_container .layui-tree-set.limit_width > .layui-tree-entry .layui-tree-txt {
  font-weight: 600;
  width: calc(100% - 30px);
}

.party_manage_page .party_manage_content .party_tree_container .active_node > .layui-tree-entry {
  position: relative;
}

.party_manage_page .party_manage_content .party_tree_container .active_node > .layui-tree-entry::before {
  content: '';
  width: 14.16vw;
  height: 48px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: -1.04vw;
  background: #fff;
}

.party_manage_page .party_manage_content .party_tree_container .layui-tree-entry {
  height: 48px;
  line-height: 48px;
}

.party_manage_page .party_manage_content .party_tree_container .layui-tree-entry .layui-tree-main {
  width: 100%;
  padding-right: 0;
  position: relative;
}

.party_manage_page .party_manage_content .party_tree_container .layui-tree-entry .layui-tree-main .layui-tree-iconClick {
  margin: 0;
}

.party_manage_page .party_manage_content .party_tree_container .layui-tree-entry .layui-tree-main .layui-tree-iconClick .layui-tree-iconArrow {
  margin-right: 5px;
}

.party_manage_page .party_manage_content .party_tree_container .layui-tree-entry .layui-tree-main .layui-tree-txt {
  overflow: hidden;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  text-overflow: ellipsis;
}

.party_manage_page .party_manage_content .party_tree_container .layui-tree-pack {
  padding-left: 30px;
}

.party_manage_page .party_manage_content .party_table_container {
  width: calc(100% - 14.16vw - 8px);
  margin-left: 8px;
  height: 100%;
}

.party_manage_page .party_manage_content .party_table_container .breadcrumb_group {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  height: 48px;
  line-height: 48px;
  background: #EAEEF5;
  padding: 0 20px;
}

.party_manage_page .party_manage_content .party_table_container .breadcrumb_group span {
  color: #333;
}

.party_manage_page .party_manage_content .party_table_container .breadcrumb_group a {
  color: #333 !important;
  cursor: default;
}

.party_manage_page .party_manage_content .party_table_container .breadcrumb_group .layui-breadcrumb a:hover {
  color: #333 !important;
}

.party_manage_page .party_manage_content .party_table_container .table_content {
  height: calc(100% - 34px - 55px);
  padding-top: 0;
}

.party_manage_page .party_manage_content .party_table_container .table_content .hidden_container {
  display: none;
}

.party_manage_page .party_manage_content .party_table_container .table_content .hidden_container + .layui-table-view {
  display: none;
}

.party_manage_page .party_manage_content .party_table_container .table_content .table_btns {
  padding: 20px 0;
  margin: 0;
}

.party_manage_page .party_manage_content .party_table_container .table_content .table_btns button:nth-child(n + 2) {
  margin-left: 20px !important;
}

.party_manage_page .party_manage_content .party_table_container .table_content .custom_table + .layui-table-view {
  height: calc(100% - 40px - 32px);
}

.party_manage_page .party_manage_content .party_table_container .admin_setting_container {
  width: 50%;
  margin-top: 4.44vh;
}

.party_manage_page .admin_setting_container {
  margin-left: 32px;
}

.party_manage_page .admin_setting_container .layui-form-item:first-child {
  margin-bottom: 40px;
}

.party_manage_page .admin_setting_container .edit_label {
  width: auto;
}

.party_manage_page .admin_setting_container .layui-btn:nth-child(1) {
  background: #FFAB33;
}

@media screen and (max-width: 1536px) {
  .party_manage_page .party_manage_content .party_tree_container .active_node > .layui-tree-entry::before {
    height: 34px;
  }
  .party_manage_page .party_manage_content .party_tree_container .layui-tree-entry {
    height: 30px;
    line-height: 30px;
  }
  .party_manage_page .party_manage_content .party_table_container .table_content {
    height: calc(100% - 34px - 40px);
  }
  .party_manage_page .party_manage_content .party_table_container .breadcrumb_group {
    font-size: 14px;
    height: 34px;
    line-height: 34px;
  }
}
