.party_branch_page .total_account_group > li:nth-child(1) {
  background-image: url("../images/account-bg2.png");
}

.party_branch_page .total_account_group > li:nth-child(2) {
  background-image: url("../images/account-bg3.png");
}

.party_branch_page .branch_activity_plan_group.attend_views_group div:first-child {
  margin-bottom: 44px !important;
}

.party_branch_page .branch_activity_plan_group > div {
  height: calc((100% - 44px) / 2) !important;
}
