
.plan_details_container{
    padding: 40px 40px 60px 40xp!important;
    .plan_details_page{
        width: 100%;
        height: 100%;
        .details_container{
            width: 100%;
            margin-top: 20px;
            height: calc(100% - 40px);
            background: #fff;
            text-align: center;
            position: relative;
            .title{
                font-size: 18px;
                color: #333;
                line-height: 98px;
            }
            .title_descr{
                font-size: 16px;
                color: #999;
                text-align: center;
                line-height: 14px;
                span{
                    &:first-child{
                        margin-right: 3.06%;
                    }
                }
            }
            .details_content{
                margin: 40px 0 26px 0;
                padding: 0 40px;
                overflow-y: auto;
                max-height: calc(100% - 222px - 66px);
                font-size: 16px;
                color: #666;
                line-height: 20px;
                text-indent: 2em;
                text-align: left;
            }
            .bottom_btn{
                position: absolute;
                bottom: 78px;
                left: 0;
                width: 100%;
                button{
                    border-radius: 4px;
                    height: 32px;
                    line-height: 32px;
                }
            }
        }
    }
}