@charset "UTF-8";
.release_event_container {
  overflow-y: auto;
  padding-bottom: 0 !important;
}

.release_event_container .release_event_page {
  width: 100%;
  margin-bottom: 40px;
}

.release_event_container .release_event_page .form_container {
  background: #fff;
  width: 100%;
}

.release_event_container .release_event_page .custom_form {
  padding: 40px 0 0 20px;
  margin-top: 20px;
  max-width: 960px;
}

.release_event_container .release_event_page .custom_form .layui-inline {
  height: 40px;
  margin-bottom: 48px;
  width: 50%;
  clear: unset;
}

.release_event_container .release_event_page .custom_form .layui-inline:nth-child(2n) {
  float: right;
}

.release_event_container .release_event_page .custom_form .layui-inline .layui-form-label {
  margin-right: 10px;
}

.release_event_container .release_event_page .custom_form .layui-inline .layui-input-inline {
  width: calc(100% - 120px);
  margin: 0;
}

.release_event_container .release_event_page .custom_form .layui-inline .layui-input, .release_event_container .release_event_page .custom_form .layui-inline .layui-select, .release_event_container .release_event_page .custom_form .layui-inline .layui-textarea {
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.release_event_container .release_event_page .custom_form .tree_select_item {
  height: 300px;
}

.release_event_container .release_event_page .custom_form .tree_select_item .layui-input-inline {
  height: 298px;
  border: 1px solid #ccc;
  overflow-y: auto;
  padding: 20px;
  border-radius: 8px;
  /* 滚动槽 */
  /* 滚动条滑块 */
}

.release_event_container .release_event_page .custom_form .tree_select_item .layui-input-inline ::-webkit-scrollbar {
  width: 14px;
  background: transparent;
}

.release_event_container .release_event_page .custom_form .tree_select_item .layui-input-inline ::-webkit-scrollbar-track {
  border-radius: 10px;
}

.release_event_container .release_event_page .custom_form .tree_select_item .layui-input-inline ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: black;
}

.release_event_container .release_event_page .custom_form .tree_select_item .layui-input-inline .layui-form-checkbox:hover i {
  border-color: #ffab33 !important;
}

.release_event_container .release_event_page .custom_form .tree_select_item .layui-input-inline .layui-form-checked[lay-skin=primary] i {
  background-color: #FFAB33;
  border-color: #ffab33 !important;
}

.release_event_container .release_event_page .custom_form .tree_select_item .party_tree_container .layui-tree-txt {
  font-size: 16px;
  color: #333;
}

.release_event_container .release_event_page .custom_form .box_item_container {
  height: 300px;
}

.release_event_container .release_event_page .custom_form .box_item_container .layui-input-inline {
  height: 298px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.release_event_container .release_event_page .custom_form .box_item_container .layui-input-inline .box_title {
  background: #FFAB33;
  font-size: 16px;
  color: #fff;
  height: 48px;
  border-radius: 8px;
  line-height: 48px;
  text-align: center;
}

.release_event_container .release_event_page .custom_form .box_item_container .layui-input-inline .box_item {
  height: 250px;
  padding: 20px;
  overflow: auto;
}

.release_event_container .release_event_page .custom_form .box_item_container .layui-input-inline .box_item span {
  color: #333;
  font-size: 16px;
  line-height: 26px;
  margin-left: 10px;
}

.release_event_container .release_event_page .custom_form .box_item_container .layui-input-inline .box_item span:first-child {
  margin: 0;
}

.release_event_container .release_event_page .custom_form .ueditor_container {
  height: 300px;
  width: 100%;
}

.release_event_container .release_event_page .custom_form .ueditor_container .layui-input-inline {
  height: 100%;
}

.release_event_container .release_event_page .custom_form .ueditor_container .layui-input-inline .ueditor_box {
  height: 100%;
  background: #ccc;
}

.release_event_container .release_event_page .custom_form .btn_group {
  margin-bottom: 64px !important;
  float: unset !important;
}

.release_event_container .release_event_page .custom_form .btn_group .layui-btn {
  padding: 0 20px;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  background-color: #FFAB33;
}

.release_event_container .release_event_page .custom_form .btn_group .layui-btn:hover {
  border-color: #FFAB33;
  background: #FFAB33 !important;
  color: #fff !important;
}

.release_event_container .release_event_page .custom_form .btn_group .layui-btn.layui-btn-primary {
  background-color: transparent;
  color: #666;
}

@media screen and (max-width: 1536px) {
  .release_event_container .release_event_page .custom_form .layui-inline {
    margin-bottom: 30px;
  }
  .release_event_container .release_event_page .custom_form .datepicker_item .layui-input:focus + .custom_datepicker {
    display: block;
  }
  .release_event_container .release_event_page .custom_form .datepicker_item .custom_datepicker {
    position: absolute;
    z-index: 10;
    display: none;
  }
  .release_event_container .release_event_page .custom_form .tree_select_item .party_tree_container .layui-tree-entry {
    height: 30px;
  }
}
