.summary_page {
  width: 100%;
  height: 100%;
}

.summary_page .total_account_group {
  width: 100%;
  height: 17.2%;
  color: #fff;
}

.summary_page .total_account_group > li {
  width: 22.7%;
  height: 100%;
  margin-right: 3.06%;
  border-radius: 10px;
  float: left;
  background-size: cover;
}

.summary_page .total_account_group > li:last-child {
  margin-right: 0;
  background-image: url("../images/account-bg4.png");
}

.summary_page .total_account_group > li:nth-child(1) {
  background-image: url("../images/account-bg1.png");
}

.summary_page .total_account_group > li:nth-child(2) {
  background-image: url("../images/account-bg2.png");
}

.summary_page .total_account_group > li:nth-child(3) {
  background-image: url("../images/account-bg3.png");
}

.summary_page .total_account_group > li .title_group {
  height: 34.2%;
  font-size: 18px;
  margin: 6.5% 0 6.5% 6.5%;
}

.summary_page .total_account_group > li .title_group .title_icon {
  width: 15.5%;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
  margin-right: 18px;
}

.summary_page .total_account_group > li .total_num {
  font-size: 36px;
  margin-left: 12.1%;
  line-height: 1;
}

.summary_page .attend_views_activity {
  height: 82.8%;
  padding-top: 3.92%;
}

.summary_page .attend_views_activity > div {
  display: inline-block;
  float: left;
}

.summary_page .attend_views_activity .operate_container {
  height: 11.9%;
  width: 100%;
  text-align: right;
  position: relative;
}

.summary_page .attend_views_activity .operate_container p {
  height: 24px;
  display: inline-block;
  left: 0;
  position: absolute;
}

.summary_page .attend_views_activity .operate_container .layui-form-select {
  height: 40px;
  display: inline-block;
  z-index: 10;
}

.summary_page .attend_views_activity .operate_container .layui-form-select .layui-select-title input {
  border: none;
}

.summary_page .attend_views_activity .operate_container .layui-form-select dl {
  border: none;
}

.summary_page .attend_views_activity .operate_container .layui-form-select dl dd:hover {
  background: transparent;
}

.summary_page .attend_views_activity .operate_container .layui-form-select dl dd.layui-this {
  background-color: transparent;
}

.summary_page .attend_views_activity .operate_container .month_select + .layui-form-select {
  margin-right: 15px;
  width: 90px;
}

.summary_page .attend_views_activity .operate_container .month_select + .layui-form-select .layui-select-title input {
  color: #fff;
  background: #FFAB33;
  border-color: #FFAB33;
  box-shadow: 0px 4px 9px 0px rgba(254, 173, 77, 0.5);
  border-radius: 6px;
}

.summary_page .attend_views_activity .operate_container .month_select + .layui-form-select .layui-select-title input:hover {
  border-color: #FFAB33;
}

.summary_page .attend_views_activity .operate_container .month_select + .layui-form-select .layui-edge {
  border-top-color: #fff;
}

.summary_page .attend_views_activity .operate_container .month_select + .layui-form-select dl {
  background: #FFAB33;
}

.summary_page .attend_views_activity .operate_container .month_select + .layui-form-select dl dd {
  color: #fff;
}

.summary_page .attend_views_activity .operate_container .terms_select + .layui-form-select .layui-select-title input {
  color: #E74933;
  background: #FFF4C9;
  border-color: #FFF4C9;
  box-shadow: 0px 4px 9px 0px rgba(255, 244, 201, 0.5);
  border-radius: 6px;
}

.summary_page .attend_views_activity .operate_container .terms_select + .layui-form-select .layui-select-title input:hover {
  border-color: #FFF4C9 !important;
}

.summary_page .attend_views_activity .operate_container .terms_select + .layui-form-select .layui-edge {
  border-top-color: #E74933;
}

.summary_page .attend_views_activity .operate_container .terms_select + .layui-form-select dl {
  background: #FFF4C9;
}

.summary_page .attend_views_activity .operate_container .terms_select + .layui-form-select dl dd {
  color: #E74933;
}

.summary_page .attend_views_activity .desc_text {
  color: #FFAB33;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.summary_page .attend_views_activity .attend_views_group {
  margin-right: 2.61%;
  width: 52.4%;
  height: 100%;
}

.summary_page .attend_views_activity .attend_views_group > div {
  width: 100%;
  border: 1px solid #F2F3F5;
  box-shadow: 3px 3px 12px 0px rgba(228, 228, 228, 0.5);
  border-radius: 9px;
}

.summary_page .attend_views_activity .attend_views_group .attend_rate_group {
  height: 50%;
  margin-bottom: 40px;
  padding: 5% 5% 3.25% 5%;
}

.summary_page .attend_views_activity .attend_views_group .attend_rate_group .attend_rate_container {
  width: 100%;
  height: 100%;
}

.summary_page .attend_views_activity .attend_views_group .attend_rate_group .attend_rate_container > div {
  padding: 0 !important;
}

.summary_page .attend_views_activity .attend_views_group .attend_rate_group .attend_rate_container .attend_tooltip {
  background: '#7f7f7f';
  padding: 10px 50px 10px 10px;
  border-radius: 10px;
}

.summary_page .attend_views_activity .attend_views_group .attend_rate_group .attend_rate_container .attend_tooltip p {
  color: #fff;
  line-height: 18px;
  font-size: 12px;
}

.summary_page .attend_views_activity .attend_views_group .views_group {
  height: calc(50% - 40px);
  padding: 5% 5% 3.25% 5%;
  position: relative;
}

.summary_page .attend_views_activity .attend_views_group .views_group > div {
  display: inline-block;
  float: left;
}

.summary_page .attend_views_activity .attend_views_group .views_group .text_container {
  width: 41.875%;
}

.summary_page .attend_views_activity .attend_views_group .views_group .text_container .title {
  font-size: 24px;
}

.summary_page .attend_views_activity .attend_views_group .views_group .text_container .sub_text_container {
  margin-top: 20%;
}

.summary_page .attend_views_activity .attend_views_group .views_group .text_container .sub_text {
  display: inline-block;
  float: left;
}

.summary_page .attend_views_activity .attend_views_group .views_group .text_container .sub_text.current_view {
  margin-right: 15%;
}

.summary_page .attend_views_activity .attend_views_group .views_group .text_container .sub_text .sub_title {
  color: #364064;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 12px;
}

.summary_page .attend_views_activity .attend_views_group .views_group .text_container .sub_text .sub_num {
  font-size: 32px;
  line-height: 1;
}

.summary_page .attend_views_activity .attend_views_group .views_group .view_conteiner {
  width: 58.125%;
  height: 70%;
}

.summary_page .attend_views_activity .activity_plan_group {
  height: 100%;
  width: 44.99%;
  border: 1px solid #F2F3F5;
  box-shadow: 3px 3px 12px 0px rgba(228, 228, 228, 0.5);
  border-radius: 9px;
  padding: 2.68%;
  position: relative;
}

.summary_page .attend_views_activity .activity_plan_group .operate_container {
  height: 7%;
}

.summary_page .attend_views_activity .activity_plan_group .desc_text {
  bottom: 5%;
}

.summary_page .attend_views_activity .activity_plan_group .desc_text a {
  color: #FFAB33;
}

.summary_page .attend_views_activity .activity_plan_group .activity_plan_conteiner {
  height: 82%;
  width: 100%;
}

.summary_page .attend_views_activity .activity_plan_group .activity_plan_conteiner > div {
  width: 33.33%;
  height: 50%;
  display: inline-block;
  float: left;
}

@media screen and (max-width: 1536px) {
  .summary_page .total_account_group > li .title_group {
    height: 38.4%;
    font-size: 16px;
    margin: 4.5% 0 4.5% 6.5%;
  }
  .summary_page .total_account_group > li .total_num {
    font-size: 24px;
  }
  .summary_page .attend_views_activity .desc_text {
    font-size: 16px;
  }
  .summary_page .attend_views_activity .attend_views_group .views_group .text_container .title img {
    height: 18px;
  }
  .summary_page .attend_views_activity .attend_views_group .views_group .text_container .sub_text .sub_num {
    font-size: 24px;
  }
  .summary_page .attend_views_activity .activity_plan_group .operate_container {
    height: 10%;
  }
  .summary_page .attend_views_activity .operate_container p img {
    height: 18px;
  }
}
