.summary_page {
  width: 100%;
  height: 100%;
}

.summary_page .total_account_group {
  width: 100%;
  height: 100%;
  color: #fff;
}

.summary_page .total_account_group > li {
  width: 22.7%;
  margin-right: 3.06%;
  height: 17.2%;
  border-radius: 10px;
  float: left;
  background-size: cover;
}

.summary_page .total_account_group > li:last-child {
  margin-right: 0;
  background-image: url("../images/account-bg4.png");
}

.summary_page .total_account_group > li:last-child .title_icon {
  background-image: url("../images/account-icon4.png");
}

.summary_page .total_account_group > li:nth-child(1) {
  background-image: url("../images/account-bg1.png");
}

.summary_page .total_account_group > li:nth-child(1) .title_icon {
  background-image: url("../images/account-icon1.png");
}

.summary_page .total_account_group > li:nth-child(2) {
  background-image: url("../images/account-bg2.png");
}

.summary_page .total_account_group > li:nth-child(2) .title_icon {
  background-image: url("../images/account-icon2.png");
}

.summary_page .total_account_group > li:nth-child(3) {
  background-image: url("../images/account-bg3.png");
}

.summary_page .total_account_group > li:nth-child(3) .title_icon {
  background-image: url("../images/account-icon3.png");
}

.summary_page .total_account_group > li .title_group {
  height: 38.4%;
  font-size: 18px;
}

.summary_page .total_account_group > li .title_group .title_icon {
  width: 14.4%;
  height: 100%;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
  margin-right: 16px;
}

.summary_page .total_account_group > li .total_num {
  font-size: 36px;
}

@media screen and (max-width: 1536px) {
  .summary_page .total_account_group > li .title_group {
    font-size: 14px;
  }
  .summary_page .total_account_group > li .total_num {
    font-size: 24px;
  }
}
